{% extends 'base.html' %}
{% block title %}{{ action }} Transaction{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <h3 class="card-title text-center mb-4 fw-semibold">{{ action }} Transaction</h3>
                    <form method="POST" enctype="multipart/form-data">
                       {% csrf_token %}
                        <div class="mb-3">
                            <label for="type">Type
                                <select class="form-select" id="type" name="type">
                                    {% for value,label in transaction_type %}
                                    <option value="{{ value }}" {% if transaction and transaction.type == value %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Description
                                <input type="text" id="name" name="name" value="{{ transaction.description|default:"" }}" class="form-control" required="required">
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount
                                <input type="number" id="amount" name="amount" value="{{ transaction.amount|default:"0" }}" class="form-control" required="required">
                            </label>
                        </div>
                        <div class="mb-3" id="display-category">
                            <label for="category" class="form-label">Category
                                <select id="category" name="category" class="form-select" required="required">
                                    {% for value,label in categories %}
                                        <option value="{{ value }}" {% if transaction and transaction.category == value %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="account">Account
                                <select id="account" name="account" class="form-select" required="required">
                                  {% for value,label in accounts  %}
                                      <option value="{{ value }}" {% if transaction and transaction.account %}selected{% endif %}>{{ label }}</option>
                                  {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="mb-3" id="display-to-account">
                            <label for="to_account">To Account
                                <select id="to_account" name="to_account" class="form-select" required="required">
                                  {% for value,label in accounts  %}
                                      <option value="{{ value }}" {% if transaction and transaction.account %}selected{% endif %}>{{ label }}</option>
                                  {% endfor %}
                                </select>
                            </label>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}